<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @genero.nome %>
</p>

<strong>Jogos:</strong>
<% @genero.jogos.each do |jogo| %>
       	<td><a href = "/jogos/<%= jogo.id%>"><img src="data:image/jpg;base64,<%= jogo.imagem %>"></a></td>

<% end %>
<p>

<%= link_to 'Editar', edit_genero_path(@genero) %> |
<%= link_to 'Voltar', generos_path %>
