<% provide(:title, "Log in") %>
<p id="notice"><%= notice %></p>

<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    <%= link_to "(esqueci minha senha)", new_password_reset_path %>

  <div class="checkbox">
    <label for="user_remember_me">
      <input name="user[remember_me]" type="hidden" value="0">
      <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Lembrar senha
    </label>
  </div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p><a href = "https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=yk55yicbmnqt1oj9z1lgdmlgotm153&redirect_uri=http://projeto-engenharia-rafaelbortman.c9users.io:8080/login&scope=user_read">Connect With Twitch!</a></p>
    <p>Nao eh cadastrado? <%= link_to "Clique aqui e cadastre-se!", cadastro_path %></p>
  </div>
</div>