<p id="notice"><%= notice %></p>

<div class="container">
<h1>Hackroms</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome da rom</th>
      <th>Jogo</th>
      <th colspan="3">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @hackroms.each do |hackrom| %>
      <tr>
        <td><%= hackrom.nomeRom %></td>
        <td><%= hackrom.jogo.titulo %></td>
        <td><%= link_to 'Show', hackrom   , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Edit', edit_hackrom_path(hackrom)   , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Destroy', hackrom, method: :delete, data: { confirm: 'Are you sure?' }   , :class => "btn btn-outline-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hackrom', new_hackrom_path   , :class => "btn btn-outline-primary"%>
