<p id="notice"><%= notice %></p>

<p>
  <strong>Nomerom:</strong>
  <%= @hackrom.nomeRom %>
</p>

<p>
  <strong>Jogo:</strong>
  td><a href = "/jogos/<%= @hackrom.jogo.id%>"><img src="data:image/jpg;base64,<%= @hackrom.jogo.imagem %>"></a></td>
</p>

<%= link_to 'Edit', edit_hackrom_path(@hackrom)   , :class => "btn btn-outline-primary"%>
<%= link_to 'Back', hackroms_path   , :class => "btn btn-outline-primary"%>
