<p id="notice"><%= notice %></p>

<p>
  <strong>Nomerom:</strong>
  <%= @hackrom.nomeRom %>
</p>

<p>
  <strong>Jogo:</strong>
  <%= @hackrom.jogo.titulo %>
</p>

<%= link_to 'Edit', edit_hackrom_path(@hackrom) %> |
<%= link_to 'Back', hackroms_path %>
