<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @torneio.titulo %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @torneio.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @torneio.data_fim %>
</p>

<p>
  <strong>Regras:</strong>
  <%= @torneio.regras %>
</p>

<p>
  <strong>Jogo:</strong>
  <td><a href = "/jogos/<%= @torneio.jogo.id%>"><img src="data:image/jpg;base64,<%= @torneio.jogo.imagem %>"></a></td>
</p>

<%= link_to 'Editar', edit_torneio_path(@torneio) , :class => "btn btn-outline-primary"%> 
<%= link_to 'Voltar', torneios_path,:class => "btn btn-outline-primary" %>
<%if logged_in? && (@torneio.data_fim > Time.now)%>
            <%= link_to 'Add jogada', jogada_torneio_path(@torneio), :class => "btn btn-outline-primary"%>
          <%end%>
<h1>Ultimas jogadas adicionadas</h1>
<% if @torneio.jogada_torneios.count > 0 %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
  <% @torneio.jogada_torneios.order("created_at desc").each do |jogada| %>
  <tr>
    <td><a href="/usuarios/<%=jogada.usuario.id%>"><%=jogada.usuario.username%></a></td>
    <td><a href="<%=jogada.link%>">link da jogada</a></td>
  </tr>
  <%end%>
</tbody>
</table>
<%end%>