<%= provide(:title, 'Home')%>
<div class="home_container container">
    <div class="home_box  row">
    <div class="home_box_title ">
        <h4>Jogadas recentes</h4 >
        </div>
       <div class="home_space col-sm-6 col-md-12">
<%if logged_in? %>
     <div class="home_runs  col-sm-6 col-md-12" >
 	<div class="home_run col-sm-6 col-md-12 " >	
		<%= render 'jogadas/form_jogada' %>
	</div>
</div>
<% end %>
<% @jogadas.each do |jogada| %>       
<div class="home_runs  col-sm-6 col-md-12" >
 <div class="home_run col-sm-6 col-md-12 " >
                    <div class="d-flex flex-row-reverse">
                    <div class="d-flex flex-column  p-2 w-100  " >
                    <div class="home_run_title p-2  ">
                        <h4><%=maxLength(jogada.jogo.titulo,40) %></h4>
                    </div>
                    <div class="home_run_description p-2 ">
                    <!-- Talvez dividir os itens em duas linhas -->
                    <ul class="home_run_description_list  ">
                    <li class="home_rdl_user home_rdl_item">
                        <span class="fa fa-user"/> <%= maxLength(jogada.usuario.nome,13) %> 
                    </li>
                    <li class="home_rdl_position home_rdl_item">
                        <span class="fa fa-trophy" style="color:gold"></span> 1st    
                    </li>
                    <li class="home_rdl_time home_rdl_item">
                   <span class="fa fa-bolt" /> <%= getTempoJogada(jogada.milissegundos) %>  
		   </li>
                    <li class="home_rdl_categoria home_rdl_item">
                        <span class="fa fa-cogs" style="color:#9498a1"></span> <%= maxLength(jogada.categoria,6)%>    
                    </li>
                   <li class="home_rdl_plataforma home_rdl_item">
                        <span class="fa fa-gamepad"/> <%=maxLength(jogada.plataforma,12)%> 
                    </li>    
                    <li>
                         
                    </li> 
			<a href="<%=jogada.link %>"target="_blank"><span class="fa fa-youtube-play" style="color:red;"/></a>
                    </li>
                    </ul>
                    </div>
                    <div class="home_run_post p-2 ">
                        <%= jogada.texto_post %> 
                        </div>
                        </div>
                    <div class="home_run_image p-2 d-inline-block  ">
                <a href = "/jogos/<%= jogada.jogo.id%>"><img  class="img-thumbnail " src="data:image/jpg;base64,<%= jogada.jogo.imagem %>"></a>
             </div>
            </div>
           </div>                                                            
 </div>
        <% end %>
</div>
