<%= form_for(@amigo) do |f| %>
  <% if @amigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amigo.errors.count, "error") %> prohibited this amigo from being saved:</h2>

      <ul>
      <% @amigo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuarioId %><br>
    <%= f.text_field :usuarioId %>
  </div>
  <div class="field">
    <%= f.label :amigoId %><br>
    <%= f.text_field :amigoId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
