<%= form_with(model: amigo, local: true) do |form| %>
  <% if amigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amigo.errors.count, "error") %> prohibited this amigo from being saved:</h2>

      <ul>
      <% amigo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :amigo_usuario_id %>
  </div>

  <div class="field">
    <%= form.label :amigo_id %>
    <%= form.text_field :amigo_id, id: :amigo_amigo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
