<p id="notice"><%= notice %></p>

<p>
  <strong>Usuarioid:</strong>
  <%= @amigo.usuario_id %>
</p>

<p>
  <strong>Amigoid:</strong>
  <%= @amigo.amigo_id %>
</p>

<%= link_to 'Edit', edit_amigo_path(@amigo) %> |
<%= link_to 'Back', amigos_path %>
