<%= form_with(model: jogada, local: true) do |form| %>
  <% if jogada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jogada.errors.count, "error") %> prohibited this jogada from being saved:</h2>

      <ul>
      <% jogada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :texto_post %>
    <%= form.text_field :texto_post, id: :jogada_texto_post %>
  </div>

  <div class="field">
    <%= form.label :plataforma %>
    <%= form.text_field :plataforma, id: :jogada_plataforma %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :jogada_data %>
  </div>

  <div class="field">
    <%= form.label :tempo_horas %>
    <%= form.number_field :tempo_horas, id: :jogada_tempo_horas, :value => horas(jogada.milissegundos) %>
  </div>

  <div class="field">
    <%= form.label :tempo_minutos %>
    <%= form.number_field :tempo_minutos, id: :jogada_tempo_minutos, :value => minutos(jogada.milissegundos)  %>
  </div>

  <div class="field">
    <%= form.label :tempo_segundos %>
    <%= form.number_field :tempo_segundos, id: :jogada_tempo_segundos, :value => segundos(jogada.milissegundos)  %>
  </div>
  <div class="field">
    <%= form.label :milissegundos %>
    <%= form.number_field :milissegundos, id: :milissegundos, :value => milissegundo(jogada.milissegundos) %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria, id: :jogada_categoria %>
  </div>

  <div class="field">
    <%= form.label :'embed Youtube link' %>
    <%= form.text_field :link, id: :jogada_link %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :jogada_usuario_id, :value => ((jogada.usuario==nil)?"":jogada.usuario.username) %>
  </div>

  <div class="field">
    <%= form.label :jogo_id %>
    <%= form.text_field :jogo_id, id: :jogada_jogo_id, :value => ((jogada.jogo==nil)?"":jogada.jogo.titulo) %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>
