<%= provide(:title, 'jogadas') %>
<p id="notice"><%= notice %></p>
<div class="container">
<h1>Jogadas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Texto post</th>
      <th>Plataforma</th>
      <th>Data</th>
      <th>Tempo</th>
      <th>Categoria</th>
      <th>Usuario</th>
      <th>Jogo</th>
      <th colspan="3">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @jogadas.each do |jogada| %>
    <%
      @hora = jogada.milissegundos.to_i / 3600000
      @minuto = (jogada.milissegundos.to_i % 3600000 ) / 60000
      @segundo = ( (jogada.milissegundos.to_i % 3600000) % 60000 ) / 1000 
      @milissegundo = ( (jogada.milissegundos.to_i % 3600000) % 60000 ) % 1000
    %>
    
    
      <tr>
        <td><%= jogada.texto_post %></td>
        <td><%= jogada.plataforma %></td>
        <td><%= jogada.data %></td>
        <td><%= getTempoJogada(jogada.milissegundos) %></td>
        <td><%= jogada.categoria %></td>
        <td><%= jogada.usuario.username %></td>
        <td><a href = "/jogos/<%= jogada.jogo.id%>"><img src="data:image/jpg;base64,<%= jogada.jogo.imagem %>"></a></td>

        <td><%= link_to 'Mostrar', jogada , :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Editar', edit_jogada_path(jogada) , :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Excluir', jogada, method: :delete, data: { confirm: 'Confirma exclusão?' } , :class => "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inserir Jogada', new_jogada_path , :class => "btn btn-outline-primary", :id=>"Nova Jogada" %>
</div>
