<%= provide(:title, 'jogadas') %>
<p id="notice"><%= notice %></p>

<h1>Jogadas</h1>

<table>
  <thead>
    <tr>
      <th>Texto post</th>
      <th>Plataforma</th>
      <th>Data</th>
      <th>Tempo da jogada</th>
      <th>Categoria</th>
      <th>Usuario</th>
      <th>Jogo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jogadas.each do |jogada| %>
      <tr>
        <td><%= jogada.texto_post %></td>
        <td><%= jogada.plataforma %></td>
        <td><%= jogada.data %></td>
        <td><%= jogada.tempo_horas %> : <%= jogada.tempo_minutos %> : <%= jogada.tempo_segundos %></td>
        <td><%= jogada.categoria %></td>
        <td><%= jogada.usuario.nome %></td>
        <td><a href = "/jogos/<%= jogada.jogo.id%>"><img src="data:image/jpg;base64,<%= jogada.jogo.imagem %>"></a></td>

        <td><%= link_to 'Mostrar', jogada %></td>
        <td><%= link_to 'Editar', edit_jogada_path(jogada) %></td>
        <td><%= link_to 'Excluir', jogada, method: :delete, data: { confirm: 'Confirma exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inserir Jogada', new_jogada_path %>
