<p id="notice"><%= notice %></p>

<p>
  <strong>Plataforma:</strong>
  <%= @jogada.plataforma %>
</p>

<p>
  <strong>Data:</strong>
  <%= @jogada.data %>
</p>



<p>
  <strong>Jogador:</strong>
  <%= @jogada.jogador %>
</p>

<p>
  <strong>Jogo:</strong>
  <%= @jogada.jogo %>
</p>

<%= link_to 'Editar', edit_jogada_path(@jogada) %> |
<%= link_to 'Retornar', jogadas_path %>
<br>
<iframe width="560" height="315" src="<%= @jogada.link %>" frameborder="0" allowfullscreen></iframe>