
<%= link_to 'Editar', edit_jogada_path(@jogada) , :class => "btn btn-outline-primary"%> 
<%= link_to 'Retornar', jogadas_path , :class => "btn btn-outline-primary"%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Detalhes:</strong>
  <%= @jogada.texto_post %>
</p>

<p>
  <strong>Plataforma:</strong>
  <%= @jogada.plataforma %>
</p>

<p>
  <strong>Data da jogada:</strong>
  <%= @jogada.data %>
</p>


<p>
  <strong>Tempo da jogada:</strong>
  <%= @jogada.tempo_horas %> horas <%= @jogada.tempo_minutos %> minutos <%= @jogada.tempo_segundos %> segundos!
</p>

<p>
  <strong>Categoria:</strong>
  <%= @jogada.categoria %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @jogada.usuario.nome %>
</p>

<p>
  <strong>Jogo:</strong>
  <td><a href = "/jogos/<%= @jogada.jogo.id%>"><img src="data:image/jpg;base64,<%= @jogada.jogo.imagem %>"></a></td>
</p>

<p>
  <iframe width="560" height="315" src="<%= @jogada.link %>" frameborder="0" allowfullscreen></iframe>
</p>

<p>
    <strong>Comentários:</strong><br>
</p>



<div id="comments_section">
  <% @comentarios.each do |p| %>
    <strong><%= p.comentario %></strong>
    <br><strong>--------------------------------</strong><br>  
  <% end %>
</div>

<p>
    <textarea placeholder="Adicione um comentário!" id="txt_comment" cols="50" rows="3"></textarea><br>
    <button id="btn_comment_send">Enviar</button>
</p>
