
<%= link_to 'Editar', edit_jogada_path(@jogada) , :class => "btn btn-outline-primary"%> 
<%= link_to 'Retornar', jogadas_path , :class => "btn btn-outline-primary"%>

<p id="notice"><%= notice %></p>



<p>
  <strong>Detalhes:</strong>
  <%= @jogada.texto_post %>
</p>

<p>
  <strong>Plataforma:</strong>
  <%= @jogada.plataforma %>
</p>

<p>
  <strong>Data da jogada:</strong>
  <%= @jogada.data %>
</p>
<p>
  <strong>Tempo da jogada:</strong>
  <%= horas(@jogada.milissegundos) %> horas <%= minutos(@jogada.milissegundos) %> minutos <%= segundos(@jogada.milissegundos) %> segundos <%=milissegundo(@jogada.milissegundos) %> milissegundos!
</p>

<p>
  <strong>Categoria:</strong>
  <%= @jogada.categoria %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= link_to maxLength(@jogada.usuario.username,13), usuario_path(@jogada.usuario) %>
  <img  class="img-thumbnail " src="data:image/jpg;base64,<%= @jogada.usuario.imagem_perfil %>">
</p>

<p>
  <strong>Jogo:</strong>
  <td><a href = "/jogos/<%= @jogada.jogo.id%>"><img src="data:image/jpg;base64,<%= @jogada.jogo.imagem %>"></a></td>
</p>

<p>
  <iframe width="560" height="315" src="<%= @jogada.link %>" frameborder="0" allowfullscreen></iframe>
</p>

<section class="starsContainer">
  <input type="radio" name="example" class="rating" value="1" />
  <input type="radio" name="example" class="rating" value="2" />
  <input type="radio" name="example" class="rating" value="3" />
  <input type="radio" name="example" class="rating" value="4" />
  <input type="radio" name="example" class="rating" value="5" />
</section>


<p>
    <strong>Avaliacao: </strong><%=@media.to_s%><br>
</p>

<p>
    <strong>Comentários:</strong><br>
</p>


<div id="comments_section">
  <% @comentarios.each do |p| %>
    <strong><%= p.comentario %><%= content_tag(:button,"X",:class => "deleteBtn" , :id=>p.id) %>
    <br><strong>--------------------------------</strong><br>  
  <% end %>
</div>




<p>
    <textarea placeholder="Adicione um comentário!" id="txt_comment" cols="50" rows="3"></textarea><br>
    <button id="btn_comment_send">Enviar</button>
</p>

<p>
    Compartilhe esta jogada no facebook!
    <a id="btn_share_facebook" href="/shared">Compartilhar</button>
</p>

<%= content_tag(:div,"",:class => "stamp" , :id=>@jogada.usuario_id) %>

