<%= form_with(model: jogo, local: true) do |form| %>
  <% if jogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jogo.errors.count, "erro") %> impediram o jogo de ser salvo:</h2>

      <ul>
      <% jogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :jogo_titulo %>
  </div>

  <div class="field">
    <p>------------------------------IMAGEM-------------------------------------</p>
    
    <%= form.label "Adicione uma imagem da internet (URL):" %>
    <%= form.text_field :imagem_url, id: :jogo_imagem %><br>
    ou<br>
    <%= form.label "Faça upload de uma imagem: " %>
    <%= form.file_field(:imagem_upload, accept: 'image/png,image/jpeg') %>
    <p>-------------------------------------------------------------------------</p>
    
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :jogo_descricao %>
  </div>

  <div class="field">
    <%= form.label :generos %>
    <% cont = 0 %>

    <% @generos.each do |genero| %>
    	<%= check_box_tag 'genero_ids[]', genero.id, jogo.generos.include?(genero) %>
    	<%= h genero.nome %>
	<% if cont % 3  == 2 %>
	<p>
	<% end %>
	<% cont = cont+1 %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
