<div class="container">
<h1>Busca de jogos</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Imagem</th>
      <th>Descricao</th>
      <th>Gêneros</th> 
      <th colspan="3">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <td><%= jogo.titulo %></td>
        <td><a href = "<%= jogo.imagem_url %>"><img src="data:image/jpg;base64,<%= jogo.imagem %>"></a></td>
	<td><%= jogo.descricao %></td>
	<td>
	   <% cont = jogo.generos.length-1 %>
	   <% jogo.generos.each do |genero| %>
	   <%=genero.nome %><% if cont > 0 %>,<% cont = cont-1 %><% end %> 
	   <% end %>
	</td>
        <td><%= link_to 'Mostrar', jogo , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Editar', edit_jogo_path(jogo) , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Deletar', jogo, method: :delete, data: { confirm: 'Você tem certeza?' } , :class => "btn btn-outline-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>

