<%= provide(:title, 'jogos') %>
<p id="notice"><%= notice %></p>

<h1>Jogos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Imagem</th>
      <th>Descricao</th>
      <th>Gêneros</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <td><%= jogo.titulo %></td>
        <td><a href = "<%= jogo.imagem_url %>"><img src="data:image/jpg;base64,<%= jogo.imagem %>"></a></td>
	<td><%= jogo.descricao %></td>
	<td>
	   <% cont = jogo.generos.length-1 %>
	   <% jogo.generos.each do |genero| %>
	   <%= link_to genero.nome,genero%><% if cont > 0 %>,<% cont = cont-1 %><% end %> 
	   <% end %>
	</td>
        <td><%= link_to 'Mostrar', jogo %></td>
        <td><%= link_to 'Editar', edit_jogo_path(jogo) %></td>
        <td><%= link_to 'Deletar', jogo, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Jogo', new_jogo_path %>
