<%= provide(:title, 'jogos') %>
<p id="notice"><%= notice %></p>

<div class="container">
<h1>Jogos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Imagem</th>
      <th>Descricao</th>
      <th>Gêneros</th> 
      <th colspan="4">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @jogos.each do |jogo| %>
      <tr>
        <td><%= jogo.titulo %></td>
        <td><a href = "/jogos/<%= jogo.id%>"><img src="data:image/jpg;base64,<%= jogo.imagem %>"></a></td>
	<td><%= jogo.descricao %></td>
	<td>
	   <% cont = jogo.generos.length-1 %>
	   <% jogo.generos.each do |genero| %>
	   <%= link_to genero.nome,genero , :class => "btn btn-outline-primary"%><% if cont > 0 %>,<% cont = cont-1 %><% end %> 
	   <% end %>
	</td>
        <td><%= link_to 'Mostrar', jogo , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Editar', edit_jogo_path(jogo) , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Deletar', jogo, method: :delete, data: { confirm: 'Você tem certeza?' } , :class => "btn btn-outline-primary"%></td>
	<td><%= link_to 'Add Jogada', jogoAddJogada_path(jogo) , :class => "btn btn-outline-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Jogo', new_jogo_path, :class => "btn btn-outline-primary" , :id=>"Novo Jogo"%>
</div>
<p><p>
