<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @jogo.titulo %>
</p>

<p>
  <strong>Imagem:</strong>
  <td><a href = "<%= @jogo.imagem_url %>"><img src="data:image/jpg;base64,<%= @jogo.imagem %>"></a></td>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @jogo.descricao %>
</p>

<p>
  <strong>Gêneros:</strong>
  <% cont = @jogo.generos.length-1 %>
  <% @jogo.generos.each do |genero| %>
	<%= link_to genero.nome,genero, :class => "btn btn-outline-primary"%><% if cont > 0 %>,<% cont = cont-1 %><% end %> 
  <% end %>
</p>

<%= link_to 'Editar', edit_jogo_path(@jogo) , :class => "btn btn-outline-primary"%>
<%= link_to 'Voltar', jogos_path , :class => "btn btn-outline-primary"%>
<%= link_to 'Add Jogada', jogoAddJogada_path(@jogo) , :class => "btn btn-outline-primary"%>

<h1>Ranking dos Jogadores</h1>
   
<table class="table table-bordered">
<thead>
    <tr>
      <th>Posição</th>
      <th>Usuário</th>
      <th>Tempo</th>
      <th>Plataforma</th>
      <th>Categoria</th>
      <th>Link</th>
    </tr>
  </thead>  
    <tbody>
      <%cont = 1%>
      <% @jogo.jogadas.order("milissegundos asc").each do |jogada| %> 
        <tr>
          <td><h2><%=cont%>º</h2></td>
          <td><img  class="img-thumbnail " src="data:image/jpg;base64,<%= jogada.usuario.imagem_perfil %>" width=50>
            <%= link_to maxLength(jogada.usuario.username,13), usuario_path(jogada.usuario) %>
           </td>
          <td><%= getTempoJogada(jogada.milissegundos) %></td>
          <td><%= jogada.plataforma %></td>
          <td><%= jogada.categoria %></td>
          <td><a href = "<%= jogada.link%>">Link</a></td>
        </tr>
      <%cont = cont+1%>
      <% end %>
    </tbody>
</table>

