<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @jogo.titulo %>
</p>

<p>
  <strong>Imagem:</strong>
  <td><img src="data:image/jpg;base64,<%= @jogo.imagem %>"></td>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @jogo.descricao %>
</p>

<p>
  <strong>Gêneros:</strong>
  <% cont = @jogo.generos.length-1 %>
  <% @jogo.generos.each do |genero| %>
	<%=genero.nome %><% if cont > 0 %>,<% cont = cont-1 %><% end %> 
  <% end %>
</p>

<%= link_to 'Editar', edit_jogo_path(@jogo) %> |
<%= link_to 'Voltar', jogos_path %>
