<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @jogo.titulo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @jogo.genero %>
</p>

<p>
  <strong>Imagem:</strong>
  <td><img src="<%= @jogo.imagem %>"></td>
</p>

<%= link_to 'Editar', edit_jogo_path(@jogo) %> |
<%= link_to 'Voltar', jogos_path %>
