<p id="notice"><%= notice %></p>

<h1>Pontos</h1>

<table>
  <thead>
    <tr>
      <th>Jogada</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pontos.each do |ponto| %>
      <tr>
        <td><%= ponto.jogada %></td>
        <td><%= ponto.nota %></td>
        <td><%= link_to 'Show', ponto %></td>
        <td><%= link_to 'Edit', edit_ponto_path(ponto) %></td>
        <td><%= link_to 'Destroy', ponto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ponto', new_ponto_path %>
