<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "erro") %> impediram o usuario de ser salvo:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :nome, id: :usuario_nome %>
  </div>

  <div class="field">
    <%= form.label :nacionalidade %>
    <%= form.text_field :nacionalidade, id: :usuario_nacionalidade %>
  </div>


  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email, id: :usuario_email %>
  </div>

  <div class="field">
    <%= form.label :Nome_de_usuario %>
    <%= form.text_field :username, id: :usuario_username %>
  </div>

  <div class="field">
    <%= form.label :Senha %>
    <%= form.password_field :senha, id: :usuario_senha %>
  </div>
  
  </div>
    <div class="field">
       <%= form.label :confirmar_senha %>
       <%= form.password_field :confirmar_senha %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>