<head>
  <h1>Busca de usuarios</h1>
</head>
<%= form_tag("/buscar/mostrarResultados", method: "post") do %>
  <%= label_tag(:username, "Search username:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Buscar") %>
<% end %>

<%= link_to 'Back', "/" %>