<p id="notice"><%= notice %></p>
<div class="container">
<h1>Resultado de busca</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>E-mail</th>
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.username %></td> 
        <td><%= usuario.email %></td>
        <td><%= link_to 'Mostrar', usuario , :class => "btn btn-outline-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', '/buscar'  , :class => "btn btn-outline-primary"%>
</div>
