<nav class="navbar navbar-expand-md navbar-light bg-faded  " style="background-color: #263238;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag("logo.jpg", class: "logo") %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class ="nav-item active">
      <a class="nav-link" href="<%=home_path%>">Home</a>
     </li>
     <li class ="nav-item active">
         <a class="nav-link" href="<%= (logged_in??usuario_path(current_user.id):'/login') %>">Meu Perfil</a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="<%=jogos_path%>" style="color:white">Jogos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=jogadas_path%>">Jogadas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=usuarios_path%>">Usuários</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=generos_path%>">Gêneros</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="<%=contatoindex_path%>">Contato</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=hackroms_path%>">Hackrom</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=torneios_path%>">Torneios</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/buscar">Buscar Usuarios</a>
      </li>
    </ul>
    <% if logged_in? %>
      <td><%= link_to 'Logout', logout_path, method: :delete , :class => "btn btn-outline-primary"%></td>
      <%= content_tag(:div,"",:class => "loggedId" , :id=>current_user.id) %>
    <% else %>
      <a href="/login" class="btn btn-primary" role="button">Login</a>
    <% end %>

    


    

    <!-- Usem forms do rails e nao desse jeito abaixo (da erro de autenticacao de csrf)

	<form class="form-inline my-2 my-lg-0" action="/buscarJogoNome" method="post">
      <input class="form-control mr-sm-2" type="text" placeholder="Jogos" name="titulo">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>-->
    <%= form_tag({controller: "jogos", action: "buscar_nome"}, method: "post", class: "form-inline my-2 my-lg-0") do %>
      <input class="form-control mr-sm-2" type="text" placeholder="Jogos" name="titulo">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
<% end %>
  </div>
</nav>

