<nav class="navbar navbar-expand-md navbar-light bg-faded  " style="background-color: #263238;"><!--#e3f2fd -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag("logo.jpg", class: "logo") %>
  <select name="user[role_id]">
  <option value="">Please select</option>
  <option value="1" selected="selected">Administrator</option>
  <option value="2">User</option>
  <option value="3">Editor</option>
</select>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class ="nav-item active">
      <a class="nav-link" href="<%=home_path%>">Home</a>
     </li>
     <li class ="nav-item active">
      <a class="nav-link" href="#">Meu Perfil</a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="<%=jogos_path%>" style="color:white">Jogos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=jogadas_path%>">Jogadas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=usuarios_path%>">Usuarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=generos_path%>">Gêneros</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/buscar">Buscar Usuarios</a>
      </li>
    </ul>
    <% if logged_in? %>
      <td><%= link_to 'Logout', logout_path, method: :delete %></td>
    <% else %>
      <a href="/login" class="btn btn-primary" role="button">Login</a>
    <% end %>

    

    <!-- Usem forms do rails e nao desse jeito abaixo (da erro de autenticacao de csrf)

	<form class="form-inline my-2 my-lg-0" action="/buscarJogoNome" method="post">
      <input class="form-control mr-sm-2" type="text" placeholder="Jogos" name="titulo">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>-->
    <%= form_tag({controller: "jogos", action: "buscar_nome"}, method: "post", class: "form-inline my-2 my-lg-0") do %>
      <input class="form-control mr-sm-2" type="text" placeholder="Jogos" name="titulo">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
<% end %>
  </div>
</nav>

